body {
    background: #f5f5f5;
    margin-top: 20px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.font-12 {
    font-size: 12px;
}

.text-muted {
    color: #8c9ea9 !important;
}

p {
    font-size: 13px;
}

.badge-soft-danger {
    background-color: rgba(249, 110, 91, .2);
    color: #f96e5b;
}

.badge {
    font-weight: 500;
}

.badge-soft-info {
    background-color: rgba(51, 205, 255, .2);
    color: #33cdff;
}

.badge-soft-purple {
    background-color: rgba(119, 95, 213, .2);
    color: #775fd5;
}

.badge-soft-pink {
    background-color: rgba(245, 70, 142, .2);
    color: #f5468e;
}

.badge-soft-success {
    background-color: rgba(93, 208, 153, .2);
    color: #5dd099;
}

.table tr td {
    color: #8887a9;
}

.card {
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(96, 93, 175, .05);
    box-shadow: 1px 0 20px rgba(96, 93, 175, .05);
    margin-bottom: 30px;
}